.subtitle {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35;
  font-weight: bold;
}

#scroll-container {
    /*border: 3px solid black;
    border-radius: 5px;*/
    background-color: black;
    color: white;
    height: 4000px;
    overflow: hidden;
  }
  
  #scroll-text {
    height: 100%;
    text-align: center;
    font-size: 30px;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 65s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

 