@charset "UTF-8"; 

/* -- Variaveis -- */

:root { 
    --cor-bg-principal: rgb(238, 167, 139); 
    --cor-bg-alternativa: rgb(39, 38, 38); 
    --cor-bg-rodape: black; 
    --cor-fonte-principal: grey; 
    --cor-fonte-alternativa: white; 
    
}

/* -- Seletor universal -- */

* {
    size: calc(100vh-100px); 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0%;
}

/* -- Tela Home -- */

body{ 
    background-color: var(--cor-bg-principal) !important; 
    text-align: center; 
    overflow-y: auto; 
    margin: 0%; 
   
}

.navbar { 
    display: flex; 
    gap: 20px; 
    justify-content: left; 
    background-color: var(--cor-bg-alternativa);
    padding: 15px; 
}

main { 
    overflow: auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}

section {
    margin-top: 100px;
    text-align: center;
}

.link { 
    font-family: var(--cor-fonte-principal); 
    font-size: 20px; 
    color: var(--cor-fonte-principal); 
    text-decoration: none; 
}

.link:hover { 
    background-color: var(--cor-bg-alternativa); 
    color: var(--cor-fonte-alternativa); 
    text-decoration: none;
}

.logotipo{ 
    width: 50px;  
    height: 50px; 
    margin: 50px; 
}

/* -- Tela Receitas -- */

.card-body {
    background: rgba(255, 255, 255, 0.781);
    width: 400px; 
    height: 600px; 
    margin: 10px;
    border-radius: 15px;
    padding: 15px;
}

.card-img-top {
    height: 300px;
    background-size: cover;
    border-radius: 5px;
}

.receita-1 {
    background-image: url(imagens/arroz_couve_flor.jpg);
}

.receita-2 {
    background-image: url(imagens/bolo_cafe.jpg);
}

.receita-3 {
    background-image: url(imagens/coxinha_brigadeiro.jpg);
}

.card-title {
    margin: 10px;
    font-size: 24px;
    font-family: var(--tipo-font);
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    list-style-position: outside;
    margin-bottom: 10px;
    text-align: left;
}

 /*-- Tela Cadastro -- */
 
.cadastro {
    padding: 15px;
    display: flex;
    align-items: center;
}

.titulo {
    font-family: var(--tipo-font) !important;
    color: var(--cor-fonte-alternativa);
}

.botao {
    background-color: var(--cor-bg-alternativa);
    color: var(--cor-fonte-alternativa);
}

/*-- Rodapé -- */

.rodape h3{ 
    padding-top: 10px;
    background-color: var(--cor-bg-rodape); 
    font-size: 18px;
    text-align: center; 
    color: var(--cor-fonte-alternativa); 
    position: fixed; 
    bottom: 0%;  
    width: 100%; 
    margin: 0%;
}






